# Base de données PostgreSQL
# DATABASE_URL="postgresql://neondb_owner:npg_gS7L1YrhJpPO@ep-twilight-art-aqs5xnxt-pooler.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
# uncomment next line if you use Prisma <5.10
# DATABASE_URL_UNPOOLED="postgresql://neondb_owner:npg_gS7L1YrhJpPO@ep-twilight-art-aqs5xnxt.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="GENEREZ_AVEC: openssl rand -base64 32"

# Google OAuth (optionnel)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Sécurité tracking pubs
IP_SALT="GENEREZ_AVEC: openssl rand -hex 16"

# Email (Nodemailer)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USER=""
SMTP_PASSWORD=""
EMAIL_FROM="noreply@offres242.cg"

# Super Admin initial (seed)
ADMIN_EMAIL="admin@offres242.cg"
ADMIN_PASSWORD="ChangeMe@242!"

# Upload fichiers (Cloudinary ou S3)
CLOUDINARY_URL=""
# ou
AWS_BUCKET_NAME=""
AWS_REGION=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="Offres Emploi Sérieuse 242"
