{
  "extends": "next/core-web-vitals",
  "rules": {
    "react/no-unescaped-entities": "off",
    "@typescript-eslint/no-require-imports": "off",
    "@next/next/no-img-element": "off",
    "react-hooks/exhaustive-deps": "off"
  },
  "overrides": [
    {
      "files": ["src/lib/auth.ts"],
      "rules": {
        "@typescript-eslint/no-require-imports": "off"
      }
    }
  ]
}